{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dank Songs</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/voting.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="page-header">
    <a href="{% url 'voting.views.song_list' %}"><h1>Dank Songs Voting</h1></a>
</div>
<div class="add_song">
    <a style="" href="{% url 'voting.views.add_song' %}">Add a New Song</a>
</div>
<div class="songs">
    {% block content %}
    {% endblock %}
</div>
<div class="login_logout">
    {% if user.is_anonymous %}
    Not logged in.
    <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
    {% else %}
    {{ user }}
    <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
    {% endif %}
</div>
</body>
</html>